/**
 * matrix_sim/style.css
 */

body {
    width: 500px;
    margin: auto;
}

.led {
    width: 30px;
    height: 30px;
    border-radius: 2px;

    padding: 0;
    margin: 0 2px;

    display: inline-block;
    background-color: gray;
}
